
 @import '../../components/variables.css';

 .DocsPage {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   overflow: auto;
   background: var(--brand-primary);
   text-align: center;
   color: #fff;
   padding: 3em;

   & h1 {
     font-weight: 300;
     font-size: 36px;
     margin-top: 20px;
     margin-bottom: 10px;
     & small {
       color: rgba(255,255,255,0.7);
     }
   }
   & h3 {
     font-weight: 300;
   }
 }
